{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Sistema de Asesorías</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body class="center" data-page="login">

    <!-- FONDO ANIMADO -->
    <div class="background-animation">

        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>

    </div>

    <!-- LOGIN -->
    <div class="login-box">

        <div class="logo"></div>

        <form method="POST">

            {% csrf_token %}

            <h1> Iniciar Sesión</h1>

            <p class="subtitle">
                Sistema inteligente de asesorías
            </p>

            <!-- USUARIO -->
            <input
                name="usuario"
                type="text"
                placeholder="📧 Correo o usuario"
                autocomplete="username"
                required
            >
            <br>
            <!-- PASSWORD -->
            <div class="password-container">

                <input
                    id="password"
                    name="password"
                    type="password"
                    placeholder="🔒 Contraseña"
                    autocomplete="current-password"
                    required
                >
            <br>
            <br>
                <span class="toggle-password"
                onclick="togglePassword()">


                </span>

            </div>

            <!-- BOTON -->
            <button type="submit">
                Ingresar
            </button>

            <!-- MENSAJE -->
            <p class="message">
                {{ mensaje }}
            </p>

        </form>

        <!-- REGISTROS -->
        <div class="register-options">

            <p>¿No tienes cuenta?</p>

            <a href="/registro/asesor/">
                Registrarse como Asesor
            </a>

            <a href="/registro/asesorado/">
                Registrarse como Asesorado
            </a>

        </div>

    </div>

    <!-- SCRIPT -->
    <script>

        function togglePassword(){

            const password =
            document.getElementById("password");

            if(password.type === "password"){

                password.type = "text";

            }else{

                password.type = "password";

            }
        }

    </script>

</body>
</html>